<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tlh.dw.mapper.AdsDateTopicMapper">

    <select id="findByDuration" parameterType="int" resultType="map">
        select
            date as day,
            order_count as orderCount,
            payment_count as paymentCount,
            refund_count as refundCount,
            register_count as newUserCount
        from ads_date_topic
        where
        <choose>
            <when test="type==0">
                date>=date_format(date_sub(now(),INTERVAL #{v} DAY),'%Y-%m-%d')
            </when>
            <when test="type==1">
                year=#{year} and week_id=#{v}
            </when>
            <when test="type==2">
                year=#{year} and month=#{v}
            </when>
        </choose>
    </select>

    <select id="findSummaryByType" resultType="org.tlh.dw.entity.AdsDateTopic">
        select
            sum(order_count) as orderCount,
            sum(uv_count) as uvCount,
            sum(register_count) as registerCount,
            sum(order_total_amount) as orderTotalAmount,
            sum(payment_total_amount) as paymentTotalAmount,
            sum(refund_total_amount) as refundTotalAmount,
            sum(payment_user_count) as paymentUserCount,
            sum(payoff) as payoff,
            sum(payoff_user_count) as payoffUserCount
        from ads_date_topic where year=#{year}
        <choose>
            <when test="type==0">
                and date=#{v}
            </when>
            <when test="type==1">
                and week_id=#{v}
            </when>
            <when test="type==2">
                and month=#{v}
            </when>
        </choose>

    </select>

</mapper>