<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tlh.profile.mapper.TbMergeTagMapper">

    <resultMap id="basicTag" type="org.tlh.profile.dto.MergeTagDetailDto">
        <id property="tagId" column="tagId"/>
        <result property="name" column="tName"/>
        <result property="condition" column="tCondition"/>
    </resultMap>

    <resultMap id="detail" type="org.tlh.profile.vo.MergeTagListVo">
        <id property="id" column="id"/>
        <result property="condition" column="condition"/>
        <result property="intro" column="intro"/>
        <result property="name" column="name"/>
        <result property="purpose" column="purpose"/>
        <!-- 关联集合    -->
        <collection property="tags" resultMap="basicTag"/>
    </resultMap>

    <select id="queryDetailById" resultMap="detail">
        select
            m.*,
            d.basic_tag_id as tagId,
            d.condition as tCondition,
            (
                select
                    concat_ws('\t',p.name,t.name)
                from tb_basic_tag t inner join tb_basic_tag p on t.pid=p.id where t.id=tagId
            ) as tName
        from tb_merge_tag m
        inner join tb_merge_tag_detail d
        on m.id=d.merge_tag_id
        where m.id=#{value}
    </select>

    <select id="queryMergeTagsByBasicTagId" resultType="org.tlh.profile.entity.TbMergeTag">
        select
            m.*
        from tb_merge_tag m
        inner join tb_merge_tag_detail d
        on m.id=d.merge_tag_id
        where d.basic_tag_id=#{value}
    </select>

    <select id="queryMergeTagSolr" resultType="org.tlh.profile.dto.MergeTagSolrDto">
        select
            m.merge_tag_id as id,
            m.basic_tag_id as filedTagId,
            b.name as tagName,
            m.condition as 'condition',
            m.condition_order as 'order',
            (select hbase_fields from tb_basic_tag where id=b.pid) as filedName
        from tb_merge_tag_detail m
        inner join tb_basic_tag b
        on m.basic_tag_id=b.id
        where m.merge_tag_id=#{value}
        order by m.condition_order
    </select>
</mapper>
