<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tlh.profile.mapper.TbBasicTagMapper">

    <resultMap id="elementTree" type="org.tlh.profile.vo.ElementTreeVo">
        <id column="id" property="id"/>
        <result column="name" property="label"/>
    </resultMap>

    <resultMap id="primaryTree" type="org.tlh.profile.vo.ElementTreeVo" extends="elementTree">
        <collection property="children" ofType="org.tlh.profile.vo.ElementTreeVo" column="id" select="queryChildren"/>
    </resultMap>

    <select id="queryPrimaryTree" resultMap="primaryTree">
        select * from tb_basic_tag where level=1
    </select>

    <select id="queryChildren" resultMap="elementTree">
        select * from tb_basic_tag where pid=#{value}
    </select>

    <!--  查询 1 2 3 4 级标签  -->
    <select id="leftTree" resultMap="children">
        select * from tb_basic_tag where level=1
    </select>
    <resultMap id="children" type="org.tlh.profile.vo.ElementTreeVo" extends="elementTree">
        <collection property="children" ofType="org.tlh.profile.vo.ElementTreeVo" column="id" select="nextLevel"/>
    </resultMap>
    <select id="nextLevel" resultMap="children">
        select * from tb_basic_tag where pid=#{value} and level in (2,3,4)
    </select>

    <select id="queryChildTagAndModelById" resultType="org.tlh.profile.vo.BasicTagListVo">
        select
            t.*,
            m.schedule_rule as schedule
        from tb_basic_tag t left join tb_tag_model m on t.id=m.tag_id
        <where>
            <choose>
                <when test="id!=null">
                    pid=#{value}
                </when>
                <otherwise>
                    pid is null
                </otherwise>
            </choose>
        </where>
    </select>

    <select id="countChild" resultType="java.lang.Integer">
        select count(1) from tb_basic_tag where pid=#{value}
    </select>
</mapper>
